body {
 background-color: white; 
 font-family: "popins", sans-serif; 
 }
h1 {
 background-color: white; 
 font-size: 400%; 
 color: black; 
 margin-left: 50px;
 text-align: center;
 align-items: center;
 }
h2 {
 font-size: 120%; 
 color: black; 
 margin-left: 50px;
 }
 
h3 {
font-size: 120%; 
color: black; 
margin-left: 30px;
 }
 
h4 {
font-size: 120%; 
color: black; 
margin-left: 20px;
 }
 
h5 {
font-size: 120%; 
color: black; 
margin-left: 20px;